.divClass > h1 {color: rgb(172, 159, 114);
}
#thirdDiv > ul > li > img {
    width:400px;
} 
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgba(235, 220, 137, 0.884);
    padding: 100px;
    border: solid 6px black;
}
#spainId > {
    font-size: 18px;
    margin: 50px;
}